@import "../../style.scss";

.messageDisplay {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;

  @include themify($themes) {

    .display {
      width: 92%;
      padding: 0 4%;
      padding-bottom: 20px;
      gap: 15px;
      display: flex;
      flex-direction: column;
      z-index: 3;
    }

    .top{
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 20px;
      
        img {
          width: 90px;
          height: 90px;
          border-radius: 50%;
          border: 1px solid themed("textColor");
          flex-shrink: 0;
          object-fit: cover;
        }
    }
     
    .top2 {
      display: flex;
      justify-content: center;
      margin-top: -8px;
      margin-bottom: 12px;
      color: themed("textColor");
      
        p {
          font-size: 22px;
          font-weight: 600;
          color: themed("textColor");
        }
    }
  }
}